*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  padding: 30px 20px;
  background-color: #ff33ff;
  display: flex;
  justify-content: flex-end;
}

.header-box{
  flex-basis: 140px;
  height: 70px;
  margin: 0 10px;
  background-color: #ffccff;
}

.header-box:first-child{
  margin-right: auto;
}

main{
  display: flex;
  justify-content: center;
}

.main-left{
  width: 300px;
  background-color: #e4ff8d;
}

.main-right{
  max-width: 700px;
  flex-grow: 1;
  padding: 20px;
  background-color: #66cc00;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-right-box{
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
  background-color: #ffff00;
}

footer{
  padding: 20px;
  background-color: #6699ff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-box{
  width: 45%;
  height: 40px;
  max-width: 600px;
  margin: 10px;
  background-color: #d9e5ff;
}